<!-- Form review start -->
<%= form_with(model: @review, local: true) do |f| %>
<!-- Form review end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <%= f.label :user_id %>

    <!-- Input for user_id start -->
    <%= f.text_field :user_id, class: "form-control" %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for review start -->
  <div class="form-group">
    <%= f.label :review %>

    <!-- Input for review start -->
    <%= f.text_field :review, class: "form-control" %>
    <!-- Input for review end -->
  </div>
  <!-- Label and input for review end -->

  <!-- Label and input for stars start -->
  <div class="form-group">
    <%= f.label :stars %>

    <!-- Input for stars start -->
    <%= f.text_field :stars, class: "form-control" %>
    <!-- Input for stars end -->
  </div>
  <!-- Label and input for stars end -->

  <!-- Label and input for movie_id start -->
  <!-- Input for movie_id start -->
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <!-- Input for movie_id end -->
  <!-- Label and input for movie_id end -->

  <%= f.submit "Create review", class: "btn btn-block btn-outline-secondary" %>
<% end %>
