<% was_validated = review.errors.any? %>

<%= form_with(model: review, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for user_id start -->
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = review.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <!-- Input for user_id start -->
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_id end -->
    <% if user_was_invalid %>
      <% review.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_id end -->
  <!-- Label and input for review start -->
  <div class="form-group">
    <% review_class = "form-control" %>
    <% review_was_invalid = review.errors.include?(:review) %>

    <% if was_validated %>
      <% if review_was_invalid %>
        <% review_class << " is-invalid" %>
      <% else %>
        <% review_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :review %>
    <!-- Input for review start -->
    <%= f.text_field :review, class: review_class, placeholder: "Enter review" %>
    <!-- Input for review end -->
    <% if review_was_invalid %>
      <% review.errors.full_messages_for(:review).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for review end -->
  <!-- Label and input for stars start -->
  <div class="form-group">
    <% star_class = "form-control" %>
    <% star_was_invalid = review.errors.include?(:star) %>

    <% if was_validated %>
      <% if star_was_invalid %>
        <% star_class << " is-invalid" %>
      <% else %>
        <% star_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :stars %>
    <!-- Input for stars start -->
    <%= f.text_field :stars, class: star_class, placeholder: "Enter star" %>
    <!-- Input for stars end -->
    <% if star_was_invalid %>
      <% review.errors.full_messages_for(:star).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for stars end -->
  <!-- Label and input for movie_id start -->
  <div class="form-group">
    <% movie_class = "form-control" %>
    <% movie_was_invalid = review.errors.include?(:movie) %>

    <% if was_validated %>
      <% if movie_was_invalid %>
        <% movie_class << " is-invalid" %>
      <% else %>
        <% movie_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :movie_id %>
    <!-- Input for movie_id start -->
    <%= f.collection_select :movie_id, Movie.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for movie_id end -->
    <% if movie_was_invalid %>
      <% review.errors.full_messages_for(:movie).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for movie_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
